--find-links https://download.pytorch.org/whl/torch_stable.html

numba==0.57.1
similaritymeasures==0.4.4
tqdm==4.43.0
pandas==1.1.5
optuna==2.10.1
matplotlib==3.3.4
seaborn==0.9.0
torchdiffeq==0.2.2
scipy==1.8.1
numpy==1.24.4
torch==1.8.1+cpu
pyquaternion==0.9.9
tensorboardX==2.5.1
